.host-welcome {
  &__application-selector {
    &-item {
      margin: 24px;
      padding: 24px;
      background: white;
      box-shadow: 0 0 10px #ccc;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: rgb(250, 250, 250);
      }
    }
  }
}
